:root {
  /* primary colors */
  --primary_100: #c6e9ff;
  --primary_200: #6285d9;
  --primary_300: #3a5db1;
  --primary_400: #26499d;

  /* secondary color */
  --secondary_100: #c6ffff;
  --secondary_200: #62ecdd;
  --secondary_300: #26b0a1;

  /* tertiary color */
  --tertiary_100: #76fcff;
  --tertiary_200: #44caff;
  --tertiary_300: #26aceb;

  /* danger color */
  --danger_100: #ff5070;
  --danger_200: #ce1e3e;
  --danger_300: #b00020;

  /* success color */
  --success_100: #43d274;

  /* black color */
  --black_100: #83868d;
  --black_200: #6f7279;
  --black_300: #3d4047;
  --black_400: #1f2229;

  --base_white: #ffffff;

  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

img {
  width: 100%;
}
